* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
}

:root {
  --color-primary: #077467;
}
nav {
  display: flex;
  flex-direction: row;
  width: 95%;
  /* Height:12vw; */
  justify-content: space-between;
  align-items: center;
  margin: auto;
  /* gap: 1.67px; */
  margin-top: 25px;
}
#name {
  /* width: 60vw; */
  /* height: 6.2vw; */
  color: var(--color-primary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  font-family: "Rozha One";
  font-style: normal;
  margin: 0 10px;
}
a {
  text-decoration: none;
}
.nav-btn {
  /* width: 100px; */
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px 15px;
  color: var(--color-primary);
  border: 1.33333px solid var(--color-primary);
  border-radius: 5px;
  text-wrap: nowrap;
}

.nav-btn:hover {
  background-color: #ddd;
}
.btn {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10.67px;
  color: #ffffff;
  width: 150px;
  /* height: 5vw; */
  background: var(--color-primary);
  /* Primary */
  border: 1.33333px solid #077467;
  border-radius: 6px;
  margin-top: 1rem;
  padding: 8px 0;
  font-family: roboto;
}
.btn:hover {
  background-color: #05a18f;
}

.menu a:hover {
  width: 50vw;
  text-decoration: underline;
}

nav .menu .menu-items {
  width: 450px;
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 0px;
}
nav .menu .menu-items li:first-of-type {
  color: var(--color-primary);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-items a {
  line-height: 150%;
  color: #1c1e53;
  flex: none;
  order: 2;
  flex-grow: 0;
}
#dropdown {
  width: 50%;
  color: #5e3bee;
  display: none;
}
#toggler {
  display: none;
}
/*---------------------NAV ENDS---------*/
/*---------------------main sections---------*/

section {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* height: 40vw; */
  margin-top: 25px;
  background-color: rgba(221, 239, 255, 0.38);
}

.intro-text {
  width: 53%;
  margin-left: 55px;
}
.intro-image {
  position: relative;
  width: 35%;
  aspect-ratio: 1/1;
}
.image-back {
  position: absolute;
  margin-top: 15vw;
}
.img-back-svg {
  width: 31.6vw;
}
.image-front {
  position: absolute;
  aspect-ratio: 1/1;
}
.image-front img {
  width: 27vw;
  margin-left: 3.6vw;
}
.hello {
  font-weight: 700;
  font-size: 2rem;
}
.heading {
  font-weight: 700;
  color: #1c1e53;
  font-size: 2.5rem;
  text-wrap: nowrap;
  margin-top: 20px;
}
.founder{
  font-family: roboto;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 20px;
}
h2 .intro-name {
  color: var(--color-primary);
}
.discription {
  font-family: roboto;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
}
/*-------------------service section-----------*/
.service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.service-box {
  width: 350px;
  /* height: 19.95vw; */
  background: hsla(252, 100%, 91%, 0.33);
  border-radius: 10px;
  margin: 0.5rem 0px;
  text-align: center;
  /* padding: 10px; */
}
.s-heading {
  color: #201f31;
  font-size: 1.2rem;
  font-weight: 700;
  font: roboto;
}
.s-content {
  font-family: roboto;
  font-weight: 400;
  font-size: 1rem;
  padding: 15px;
  color: #8d8d8d;
}
.service-box img {
  width: 100px;
  padding: 8px 0;
}
.exp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.exp-box {
  width: 350px;
  height: 250px;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.exp-box img {
  width: 80px;
  padding: 10px;
}
/*---------------------About Me------------*/
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
.about-img {
  /* width: 375px; */
  /* height: 60%; */
  aspect-ratio: 3.5/4;
  margin: 25px;
  margin-left: 30px;
}
.about-content {
  width: 750px;
  font-family: roboto;
  font-weight: 400;
  font-size: 1.2rem;
  text-wrap: wrap;
  color: #1c1e53;
  margin-left: 50px;
}
/*------------------FORM--------------*/
#form {
  flex-direction: column;
  margin-top: -8vw;
}
form {
  /* margin-top: 3vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width:47vw; */
}
.form-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}
form input,
form select {
  box-sizing: border-box;
  border: 1px solid var(--color-primary);
  color: #1c1e53;
  font-size: 1.2rem;
  padding: 10px;
}

.about-btn {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10.67px;
  color: #ffffff;
  width: 150px;
  padding: 8px 0;
  background: var(--color-primary);
  /* Primary */
  border: 1.33333px solid #5e3bee;
  border-radius: 6px;
  margin-top: 1rem;
  font-family: roboto;
}
.contact-us-title {
  font-family: roboto;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px auto;
  width: 100%;
  text-align: center;
  margin-top: 80px;
  margin-left: 0px;
}

/*---------------Footer----------------*/
.footer-nav {
  display: flex;
  align-items: center;
  background-color: rgba(7, 116, 103, 0.91);
  padding: 15px;
  justify-content: flex-start;
  gap: 20px;
}
.f-intro {
  width: 750px;
  color: #ffffff;
  text-align: center;
  /* margin-bottom: 7vw; */
}
.f-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
}

.chevron {
  width: 40px;
  align-self: flex-start;
}
.footer-nav a {
  text-decoration: none;
  color: #ffffff;
  line-height: 40px;
  font-size: 1.2rem;
}
.social {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
.social img {
  width: 2em;
  border-radius: 5px;
  border: 1px solid;
  margin-right: 50px;
}
.title {
  /* font-family: roboto; */
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 10px;
  /* width: 100%; */
  margin-left: 100px;
  /* text-align: center; */
}

.f-company {
  margin-top: 15px;
}

/*-------------DVLOPR---------------*/
.developr {
  background: var(--color-primary);
  color: #e1e1e1;
  padding: 8px;
  text-align: center;
  font-size: 0.8rem;
}

/* ----------------Responsive 750----------- */
@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }

  .nav-btn {
    /* width: 2vw; */
    font-size: 0.8rem;
  }
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }
  .intro-text {
    /* width: 53%; */
    margin-left: -135px;
    margin-top: -100px;
  }
  .discription {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.5em;
  }

  .intro-image {
    width: 60%;
    margin-left: 100px;
  }

  .container {
    flex-direction: column;
  }
  .exp-box {
    flex-direction: column;
    display: flex;
    text-align: center;
    width: 500px;
  }
  .footer-nav {
    flex-direction: column;
    position: relative;
  }
  .about-me {
    flex-direction: column;
  }
  .f-nav {
    flex-direction: column;
    /* margin-left: 50px; */
  }
  form {
    display: flex;
    width: 100%;
  }
  .form-box {
    flex-direction: column;
    width: 95%;
  }
  form input,
  form select {
    width: 100%;
    margin: 5px 0;
  }
  form .btn {
    align-items: center;
  }
  .f-intro,
  .about-content {
    width: 100%;
  }
  .chevron {
    position: absolute;
    bottom: 275px;
    right: 30px;
    float: right;
  }
  .title {
    text-align: center;
    font-size: 1.8rem;
    margin-left: 0px;
    margin-top: 80px;
  }

  .f-intro,
  .about-content {
    width: 100%;
    line-height: 1.5em;
  }
  .about-btn {
    display: none;
  }
  #toggler {
    display: block;
  }
  /* .intro-text {
    width: 53%;
    margin-left: 10px;
} */
}

/* -----------------Responsive 360------------- */
@media screen and (max-width: 360px) {
}

#dropdown {
  width: 70vw;
  background-color: white;
  height: 200vh;
  z-index: 1;
  position: fixed;
  left: 1px;
  top: 1px;
  padding-left: 30px;
}

.toggler-menu-items {
  line-height: 3em;
  list-style: none;
}

.toggler-menu-items a {
  color: black;
}

.dropdown-title {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.service-box {
  /* height: 19.95vw; */
  background: hsla(252, 100%, 91%, 0.33);
  border-radius: 10px;
  margin: 0.5rem 0px;
  text-align: center;
  /* padding: 10px; */
}
